.angleControl {
  height: 18rem;
  vertical-align: middle;

  // focus state
  &:active,
  &:focus {
    outline: none;

    > .track {
      filter: drop-shadow(0 0 2px AccentColor) drop-shadow(0 0 2px AccentColor);
    }
  }
}

.track {
  fill: none;
  stroke: var(--gray12);
}
