@layer reset, theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
/* preflight breaks too many things in my experience */
/* @import "tailwindcss/preflight.css" layer(base); */
@import "tailwindcss/utilities.css" layer(utilities);

@layer reset {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  :root {
    font-family: sans-serif;
  }
}

input {
  background: transparent;
  color: inherit;
}

/* dragging */
.draggable {
  cursor: grab;
}

body.dragging .lv-canvas,
body.dragging .draggable,
.dragging {
  cursor: grabbing;
}

/* rounded table corners */
@utility table-rounded-* {
  > thead {
    > tr:first-child {
      border-top-radius: --value(--radius-*);

      > :first-child {
        border-top-left-radius: --value(--radius-*);
      }

      > :last-child {
        border-top-right-radius: --value(--radius-*);
      }
    }
  }

  > tbody > tr:last-child {
    > :first-child {
      border-bottom-left-radius: --value(--radius-*);
    }

    > :last-child {
      border-bottom-right-radius: --value(--radius-*);
    }
  }
}
